/*colours and stuff*/
a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 150px;
}

.stylized{
    width: 500px;
    height: 300px;
}

.sign-button{
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 32px;
    border: #3882f6;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

#infotitle{
    text-align: center;
    padding: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.infoimg{
    width: 300px;
    height: 300px;
}

cite{
    font-weight: bold;
}

.square{
    border: 4px solid blue;
    border-radius: 14px;
    width: 300px;
    height: 300px;
}

img{
    border-radius: 10px;
}

.call-button{
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

/*Positions and other stuff*/

body{
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
    padding-bottom: 150px;
    background-color: #1f2937;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
}


.hero{
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
    max-height: 300px;
    background-color: #1f2937;
    padding-bottom: 150px;
}

.herotext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-right: 32px;
    gap: 16px;
}

.htitle{
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 8px;
}

.information{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}


.info{
display: flex;
flex-wrap: wrap;
max-width: 200px;
align-items: center;
justify-content: center;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    padding: 150px;
    gap: 160px;
    font-style: italic;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    margin-top: 62px;
}

footer{
    display: flex;
    justify-content: flex-end;
}


.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 52px 150px;
    border-radius: 10px;
    color: white;
    gap: 80px;
}

#sign-box{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: auto;
}